/* Reset */
    * {
        box-sizing: border-box;
        padding:0;
        margin:0;
        font-family: 'Roboto', sans-serif;
    }
/* default theme styles */
    h1 {
        color:#fbfcff;
        font-size: 1.5rem; /* H1 font-size reduced for small screen compatibility */
    }
    h2 {color:#720e07}
    a:visited {color:#000514}
    a:link {color:#720e07}
    body{
        background-color:#000514;
        /* Setup whole page in a flex box */
        display:flex;
        flex-direction:column; /*  stack header-nav-main-footer ontop of eachother */
        height:100vh; /* limit size to screen height to viewport so header/nav/footer stay in place */
    }
    main{
        display:flex;
        flex:1;
        overflow:scroll;
        padding:1rem;
        flex-direction: column;
    }
    
    figure {
       /* Will display <Figure> content on top of eachother (eg fig - caption or multiple figures etc)   */
       display:flex;
       flex-direction: column;
       align-items: center;
       padding: 0.5rem 0.5rem;
    }
    /* Set the max size for images to less than its parent (so they dont overflow the content box) */
    figure img{
    max-height: 50vh; 
    max-width: 90%;
    }
    /* set the default style for figure captions */
    figcaption {
        font-style:italic;
        font-size:.8rem;
        text-align:center;
        padding: 0rem 0.5rem;
    }
    /* default formating for content cards */
.content-box {
    margin:0.5rem ;
    padding:1rem;
    text-align:justify;
    border:#720e07 solid 1px;
    background-color: #d0ccd0;
    flex-grow: 1;
}
/* Bullet list formating in content cards */
.content-box ul {
    margin: 0.25rem 1rem 0.5rem; /* move the lists style out so it aligns with the text */
    list-style-type: none; /* remove bullet point to be replaced with theme styled markers */
    text-align: left; /* align text left in lists (rather than justified in paragraphs) */
    font-size: 0.9em; /* make list text slightly smaller than regular text */
}
    /* add back in bullet markers, change colour and realign to text*/
    .content-box li::before {
        content: "\2022"; 
        color: #720e07; 
        display: inline-block; 
        font-weight: 1000;
        width: 0.9em; 
        margin-left: -0.9em; 
    }
    .content-box p{
        padding: 0.5rem
    }
/* ------------Standard header banner ----------*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fbfcff;
        min-height: 10vh;
        min-width:320px;
        padding: 0 1rem;
    }
    header img {
        width: 8vh;
        min-width:1.5rem;
        justify-self: flex-start;
    }
    header div{
        flex:1;
        text-align: center;

    }

/* ---------Navigation Bar----------- */
    nav {
    /* flex-box, align nav link to left of screen  */
    display:flex;
    justify-content:flex-start 
    }
    /* Reset the default link values for the menu bar */
    nav a:visited, nav a:link {color:#fbfcff}

    /* Foramt the links in the nav bar to navigation buttons */
    nav a{
        flex:1 0 80px; /* flex buttons allows them to grow slightly larger on wider screens */
        text-align: center;
        text-decoration: none;     /* Remove text decoration formatting from the navigation links */
        color: #fbfcff;
        padding: 0.75rem 0px;        
        border-right: solid 1px #d0ccd0        
    }
    /* added a spacer div to have a small amount of flex growth in the nav bar button width as the window expands */
    nav div{
        flex:20 5 0%;
    }
    /* Set the current page link indicator */
    nav .you-are-here{
        background-color: #720e07;
    }
    /* Highlight the navbar link on press for mobile or hover for a pointer */
    nav a:active, nav a:hover {
        background-color:#d0ccd0;
        color: #720e07;
    }
 
/* --------End Navigation Bar----------- */

/* --------Footer -------*/
    /* setup initial footer flex-box to stack social links ontop of copyright notice (for mobile viewing)*/
    footer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
 
    width:100%;
    padding: 0.3rem 1rem 0.3rem 1rem;
    min-height:10vh;
    background-color: #000514;
    color: #fbfcff;
    }

    /* scale the size of social links logos with footer height (based on vh) minimum size justs smaller than the text*/
    footer img {
    width:5vh;
    min-width: 0.9em;
    max-width: 2em;
    }

    /* Align footer social media links evenly*/
    .soc-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .copy-container{
        /* center copywrite notice in copy-container*/
        display: flex;    
        justify-content: center; /*horizontally center text*/
        align-items: center; /*vertically center text*/

    }

/*-------- Page specific formats ------------*/
/* --------Hero Banner (header for index.html)-------- */
#front-banner{
    flex-direction: column;
    min-height: 30vh;
    padding:0.5rem 1rem 0rem;
    }
    #big-logo img {
        width: 12.5vh;

    }
    /* format name text in hero banner*/
    #name {
        font-size: 5vh;
    }
    /* format position text in hero banner*/
    #position{
        font-size: 2.5vh;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items:flex-end;
    }

    #position div{
        flex:0;
        height: 0px;
        border-bottom: solid 1px #720e07;
    }
    /* Underline for "Web" in Hero Banner*/
    #h-line-1 {
        width: 20vw;
    }
    /* Underline of "Developer" in Hero Banner */
    #h-line-2 {
        width: 40vw;
    }
/* ---------About.html------------ */
#about-photo{
    /* make the profile photo a circle */
    border-radius:50%;
}

/* -----------blog.html------------- */
/* None for mobile viewing mobile  */

/* -----------resume.html------------- */
/* container for call to action .buttons */
.action {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

/* formatting for Call to action buttons  */
.button{
    padding:1rem;
    margin: 0.0rem 0.5rem 0 0.5rem;
    background-color: #720e07;
    border: solid 2px #000514;
    text-align: center;

}
    /* adjust link formating for call to action buttions */
    .button a {
        text-decoration: none;
        color: #fbfcff;
    }
    /* hover effect for call to action .buttons */
    .button:hover {
        background-color: #000514;       
    }


/* -------Media Breakpoints-------- */

/* when on smaller screen in landscape mode (tablet/mobile) */
@media only screen and (max-height: 500px) {

    /* ----- index.html ----- */
    /* re-order hero banner on index.html to have the Logo next to the script */
    #front-banner{
        flex-direction: row;
    }
    #big-logo img {
        width: 25vh;
    }
    #name {
        font-size: 10vh;
    }
    /* format position text in hero banner*/
    #position{
        font-size: 5vh;
    }
}
/*Break point - LArger phones + (Screen size > 481px+) */
@media only screen and (min-width: 480px) {
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    /* wrap the content cards below the blurb on index.html */
    #main-index{
        flex-direction: row;
        flex-wrap: wrap;
    }

    
    /* footer condensensed onto 1 line */
    footer{
        /* display copyright notice next to social links */
        flex-direction:row;
    }
        .soc-container{
            /* grow to maximum of 250px to keep soc media links together */
            flex:1;
            max-width: 250px;
        }
        .copy-container{
            /*align right*/
            flex:1.1;
            justify-content: flex-end;
            padding-right: 0.5rem;
        }

        .action {        
            flex-direction: row;
        }
}


/*Break point - tablet size ( >770px+) */
@media only screen and (min-width: 770px) {
    /* -----blog.html----- */
    /* change the flex direction so the blog post aside appears to the right of the blog container */
    #main-blog{
        flex-direction: row;
        /* main doesn't scroll so bloglist stays to the right */
        overflow: hidden;
    }
    /* make the Blog post list appear on the right */
    #blog-list{
        order:1;
        /* stop sidebar growing too big  */
        flex:1;
        max-width:400px;
        height:100%;
    }

    #blog-container {
        /* scale blog container & sidebar with screen width  */
        flex:2;
        /* set scrolling to occur in the blog-container, so blog list element will stay to the right */
        overflow:scroll;      
    }

    /* -----about.html------ */
    #main-about{
        /* Make content boxes stack in rows */
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* change about me section to have photo & text side-by-side */
    #main-about .content-box{
        /* let the content boxes spread out evenly in new space */
        flex:1;       
    }
    #main-about #About-me-summary {
        /* make sure About me summary takes up the whole first row */
        min-width: calc(100% - 2rem);
        /* display flex to make photo to appear next to text rather than on top*/
        display:flex;
    }
    #about-photo{
        /* set a min size for photo */
        min-width: 150px; 
    }
}

/*----------Break point - desktop monitor >1100px+)-------- */
@media only screen and (min-width: 1100px) {
    h1{font-size:2.5rem}
    /* Align Blog and Image side-by-side below heading when screen is wide enough  */
    .blog-and-image{
    display:flex;
    }
    .blog-text{
        flex:1;
    }
    #main-blog figure{
        flex:1;     
    }
}
